## Activity-4: Data Analysis with SQLite

#### Name/Surname: Onur Kaplan
#### Dataset name: Covid19Data_analysis_with_Sqlite.csv

In [2]:
import sqlite3 as sql
import pandas as pd
conn= sql.connect("BüyükVeri.db")
df= pd.read_csv (r'Covid19Data_analysis_with_Sqlite.csv')
df.to_sql("Tablo",conn,if_exists='replace')
cur= conn.cursor()

#### Problem 1: 30 countries with the most confirmed cases

In [4]:
cur.execute("SELECT Ülke,Onaylananlar,Tarih FROM Tablo WHERE Tarih = \"4/27/20\" GROUP BY Ülke ORDER BY Onaylananlar DESC LIMIT 30")
rows= cur.fetchall()
for row in rows:
    print(row)

('US', 988197, '4/27/20')
('Spain', 229422, '4/27/20')
('Italy', 199414, '4/27/20')
('France', 165963, '4/27/20')
('Germany', 158758, '4/27/20')
('United Kingdom', 158348, '4/27/20')
('Turkey', 112261, '4/27/20')
('Iran', 91472, '4/27/20')
('Russia', 87147, '4/27/20')
('China', 83918, '4/27/20')
('Brazil', 67446, '4/27/20')
('Canada', 49616, '4/27/20')
('Belgium', 46687, '4/27/20')
('Netherlands', 38435, '4/27/20')
('India', 29451, '4/27/20')
('Switzerland', 29164, '4/27/20')
('Peru', 28699, '4/27/20')
('Portugal', 24027, '4/27/20')
('Ecuador', 23240, '4/27/20')
('Ireland', 19648, '4/27/20')
('Sweden', 18926, '4/27/20')
('Saudi Arabia', 18811, '4/27/20')
('Israel', 15555, '4/27/20')
('Mexico', 15529, '4/27/20')
('Austria', 15274, '4/27/20')
('Singapore', 14423, '4/27/20')
('Japan', 14153, '4/27/20')
('Pakistan', 13915, '4/27/20')
('Chile', 13813, '4/27/20')
('Poland', 11902, '4/27/20')

#### Problem 2: Total number of confirmed cases

In [5]:
cur.execute("SELECT SUM(Onaylananlar) FROM Tablo WHERE Tarih = \"4/27/20\"  ")
rows= cur.fetchall()
for row in rows:
    print(row)

(3041764,)

#### Problem 3: 30 countries with the most fatalities

In [38]:
cur.execute("SELECT Ülke,Ölenler,Tarih FROM Tablo WHERE Tarih = \"4/27/20\" GROUP BY Ülke ORDER BY Ölenler DESC LIMIT 30")
rows= cur.fetchall()
for row in rows:
    print(row)

('US', 56259, '4/27/20')
('Italy', 26977, '4/27/20')
('Spain', 23521, '4/27/20')
('France', 23327, '4/27/20')
('United Kingdom', 21157, '4/27/20')
('Belgium', 7207, '4/27/20')
('Germany', 6126, '4/27/20')
('Iran', 5806, '4/27/20')
('China', 4637, '4/27/20')
('Brazil', 4603, '4/27/20')
('Netherlands', 4534, '4/27/20')
('Turkey', 2900, '4/27/20')
('Canada', 2841, '4/27/20')
('Sweden', 2274, '4/27/20')
('Switzerland', 1665, '4/27/20')
('Mexico', 1434, '4/27/20')
('Ireland', 1102, '4/27/20')
('India', 939, '4/27/20')
('Portugal', 928, '4/27/20')
('Russia', 794, '4/27/20')
('Peru', 782, '4/27/20')
('Indonesia', 765, '4/27/20')
('Ecuador', 663, '4/27/20')
('Romania', 641, '4/27/20')
('Poland', 562, '4/27/20')
('Austria', 549, '4/27/20')
('Philippines', 511, '4/27/20')
('Algeria', 432, '4/27/20')
('Denmark', 427, '4/27/20')
('Japan', 385, '4/27/20')

#### Problem 4: Total deaths

In [39]:
cur.execute("SELECT SUM(Ölenler) FROM Tablo WHERE Tarih = \"4/27/20\"  ")
rows= cur.fetchall()
for row in rows:
    print(row)

(211167,)

#### Problem 5: 30 countries with the most recovering patients

In [41]:
cur.execute("SELECT Ülke,İyileşenler,Tarih FROM Tablo WHERE Tarih = \"4/27/20\" GROUP BY Ülke ORDER BY İyileşenler DESC LIMIT 30")
rows= cur.fetchall()
for row in rows:
    print(row)

('Spain', 120832, '4/27/20')
('Germany', 114500, '4/27/20')
('US', 111424, '4/27/20')
('China', 78374, '4/27/20')
('Iran', 70933, '4/27/20')
('Italy', 66624, '4/27/20')
('France', 46293, '4/27/20')
('Turkey', 33791, '4/27/20')
('Brazil', 31142, '4/27/20')
('Switzerland', 22200, '4/27/20')
('Canada', 18268, '4/27/20')
('Austria', 12362, '4/27/20')
('Belgium', 10878, '4/27/20')
('Ireland', 9233, '4/27/20')
('Mexico', 9086, '4/27/20')
('Korea South', 8854, '4/27/20')
('Peru', 8425, '4/27/20')
('Russia', 7346, '4/27/20')
('Chile', 7327, '4/27/20')
('Israel', 7200, '4/27/20')
('India', 7137, '4/27/20')
('Denmark', 6148, '4/27/20')
('Australia', 5588, '4/27/20')
('Malaysia', 3957, '4/27/20')
('Romania', 3141, '4/27/20')
('Luxembourg', 3123, '4/27/20')
('Pakistan', 3029, '4/27/20')
('Czechia', 2826, '4/27/20')
('Thailand', 2609, '4/27/20')
('Saudi Arabia', 2531, '4/27/20')

#### Problem 6: Total healing patients

In [6]:
cur.execute("SELECT SUM(İyileşenler) FROM Tablo WHERE Tarih = \"4/27/20\"  ")
rows= cur.fetchall()
for row in rows:
    print(row)

(893967,)